#!/bin/sh
# copy to anote.cluster.sh
# fill in the values according to your set-up
# DY200614

# zookeeper 
export zookeeperIp="0.0.0.0"
export zookeeperPort=0000 # the default 2181
# kafka broker
declare -A kafkaIps
kafkaIps[0]="0.0.0.0"
kafkaIps[1]="0.0.0.0"
kafkaIps[2]="0.0.0.0"
export kafkaIps
export kafkaPort=0000 # the default 9092

# spark cluster
export sparkMasterIp="0.0.0.0"
declare -A sparkWorkerIps
sparkWorkerIps[0]="0.0.0.0"
sparkWorkerIps[1]="0.0.0.0"
sparkWorkerIps[2]="0.0.0.0"
sparkWorkerIps[3]="0.0.0.0"
export sparkWorkerIps
# the default 4040

# postgreSQL
export psqlIp="0.0.0.0"
export psqlPort=0000 # the default 5432
export dbName='insightDE'
